@model NotesApplication.Models.Note

@{
    ViewBag.Title = "Editing" + Model.Title;
    Layout = "_Layout";
    var folders = ViewData["Folders"] as SelectList;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Editing note @Model.Title</h1>
</head>

<body>

<div>
    <span>Actions:</span>
    <a asp-action="Details" asp-route-Id="@Model.Id">Back</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea rows="10" cols="40" asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                @Html.DropDownListFor(model => model.Priority, @Html.GetEnumSelectList(typeof(Note.NotePriority)))
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="IsFavourite" class="form-check-label"></label>
                <input type="checkbox" asp-for="IsFavourite" class="form-check-input" />
                <span asp-validation-for="IsFavourite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentFolderId" class="control-label"></label>
                @Html.DropDownListFor(model => model.ParentFolderId, folders)
                <span asp-validation-for="ParentFolderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
